@import '~bootstrap/scss/bootstrap';


.main-title {
  font-size: 30px;
  margin-top: 1em;
  font-weight: bold;
}

.comment-header-text {
  color: grey;
  font-size: 10px;
}

.comment-story-link {
  font-weight: bold;
}

.url {
  color: grey;
  font-size: 10px;
}

.search-instruction-text {
  color: grey;
  font-size: 14px;
}

.tab-content {
  font-style: italic;
}

.pagination {
  @extend .d-flex, .flex-wrap, .justify-content-center
}

.pagination-title {
  color: grey;
  font-size: 10px;
  font-style: italic;
}
